<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>IssueAnalysis</name>
    <id>xial</id>
    <version>1.0.0</version>
    <ilias_min_version>9.0</ilias_min_version>
    <ilias_max_version>9.999</ilias_max_version>
    <responsible>ILIAS Administrator</responsible>
    <responsible_mail>admin@example.com</responsible_mail>
    <learning_progress>0</learning_progress>
    <supports_export>0</supports_export>
    <accepts_options>1</accepts_options>
</plugin>